<div ng-init="init()" flex ng-show="loading" layout="center center" layout-align="space-around" style="margin-top:50px">
	<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
<span class="single-space-title">APPS</span>
<div layout="row" layout-wrap>
	<div ng-repeat="app in s.entity.apps" flex-gt-md="{{app.expand}}" flex="100" id="single-space" ng-init="app.expand='50'">
		<md-card style="background-color:#{{colorString(app.entity.name)}}">
				<img ng-src="assets/png/{{servicePng(app.entity.name)}}_w.png" onerror="this.style.display='none'">
			<md-card-content style="background-color:#fff">
				{{servicePng(app.entity.name)}}
				<h1 class="md-title" style="font-size:30px;font-style:#444">{{app.entity.name}}</h1>
				<pre>{{app.entity | json}}</pre>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-show="app.expand=='50'" ng-click="app.expand='100'">More</md-button>
				<md-button ng-show="app.expand=='100'" ng-click="app.expand='50'">Less</md-button>
      </div>
		</md-card>
	</div>
</div>
<pre>{{ s | json }}</pre>
