<div style="" ng-init="init()" >
	<span class="single-space-title">SERVICE INSTANCES</span>
</div>

<div layout="row" style="padding: 10px" layout-wrap>

	<div class="single-space" ng-repeat="instance in instances" ng-init="instance.showMore=false" style="width:350px;">
		<md-card style="background-color:#{{colorString(instance.entity.name)}};">
			<img style="height:50%; padding-bottom: 45px;" ng-src="assets/png/{{servicePng(instance.entity.service_plan.entity.unique_id)}}_w.png" onerror="this.style.display='none'">
			<md-card-content style="background-color:#fff">
						<h1 class="md-title" style="font-size:30px;color:#444;margin-bottom:0;">{{instance.entity.name}}</h1>
				    <md-list>
				      <md-list-item class="md-3-line">
				        <div class="md-list-item-text" layout="column">
									<div layout="row" layout-align="space-between center">
										<p>Dashboard</p>
										<p>{{instance.entity.dashboard_url}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Type</p>
										<p>{{instance.entity.type}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Disk Quota</p>
										<p>{{instance.entity.disk_quota}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<div layout="column">
											<p class="no-focus" style="cursor:pointer;" ng-click="showTags = !showTags">Tags
												<i class="fa fa-sm" ng-show="instance.entity.tags.length>0" ng-class="{'fa-chevron-down' : !showTags, 'fa-chevron-up' : showTags}" style="margin-left:3px;"></i>
											</p>
											<div ng-show="showTags && instance.entity.tags.length>0">
												<div class="spacer-10"></div>
												<p>
													<span ng-repeat="tag in instance.entity.tags">{{tag}}{{$last ? '' : ', '}}</span>
												</p>
												<div class="spacer-10"></div>
											</div>
										</div>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Last Operation</p>
										<p>{{instance.entity.last_operation.type}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>State</p>
										<p>{{instance.entity.last_operation.state}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Created</p>
										<p>{{instance.entity.last_operation.created_at | date: 'dd.MM.yyyy'}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Updated</p>
										<p>{{instance.entity.last_operation.updated_at | date: 'dd.MM.yyyy'}}</p>
									</div>
				        </div>
				      </md-list-item>

							<div ng-show="instance.showMore" style="margin-top:14px;">
					      <md-divider></md-divider>
					      <md-subheader class="md-no-sticky">Service Plan ({{instance.entity.service_plan.entity.name}})</md-subheader>
					      <md-divider></md-divider>
					      <md-subheader class="md-no-sticky no-focus" style="cursor:pointer;" ng-click="showBindings = !showBindings">
									Service Bindings ({{instance.entity.service_bindings.length}})
									<i class="fa fa-sm" ng-show="instance.entity.service_bindings.length>0" ng-class="{'fa-chevron-down' : !showBindings, 'fa-chevron-up' : showBindings}" style="margin-left:8px;"></i>
								</md-subheader>

								<div ng-show="showBindings" style="padding:0 16px;color:rgba(0,0,0,0.54);">
									<div ng-repeat="binding in instance.bindingsDetails" layout="column">
										<div layout="row">
											<div flex="10" layout="column"><i class="fa fa-times no-focus" style="cursor:pointer;margin-top:2px;width:14px;color:red;" ng-click="deleteServiceBinding($event, instance, binding)"></i></div>
											<div flex="70" layout="column">{{binding.app_name}}</div>
											<div flex="20" layout="column">{{binding.app_state}}</div>
										</div>
										<div class="spacer-10"></div>
										<md-divider></md-divider>
										<div class="spacer-10"></div>
									</div>
								</div>

					      <div flex="100" layout="column" layout-align="center center" class="md-no-sticky" style="margin-top:14px;padding-right:16px;">
									<div flex="60">
										<button ng-disabled="instance.entity.service_bindings.length>0" class="md-button md-raised md-warn" type="button" aria-label="Delete Service Instance" style="text-align:center;" ng-click="showConfirm($event, instance)">
											<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon> Delete instance
										</button>
									</div>
									<div ng-hide="instance.entity.service_bindings.length==0" flex="100">
										<span style="color:#8c8c8c;">Delete bindings first</span>
									</div>

								</div>
							</div>

				    </md-list>
					</md-card-content>
					<div class="md-actions" layout="row" layout-align="end center">
		        <md-button ng-show="instance.showMore==false" ng-click="instance.showMore=true">More</md-button>
						<md-button ng-show="instance.showMore==true" ng-click="instance.showMore=false">Less</md-button>
		      </div>
		</md-card>
	</div>

</div>
