<div class="layout-row md-padding" style="padding-left: 30px" ng-init="init()" >
	<span class="single-space-title">SERVICE INSTANCES</span>
</div>
<div layout="row" style="padding: 10px" layout-wrap>
	<div ng-repeat="instance in instances" flex-sm="100" id="single-space">
		<md-card style="background-color:#{{colorString(instance.entity.name)}}">
			<img style="height:50%; padding-bottom: 45px;" ng-src="assets/png/{{servicePng(instance.entity.service_plan.entity.unique_id)}}_w.png" onerror="this.style.display='none'">
			<md-card-content style="background-color:#fff">
						<h1 class="md-title" style="font-size:30px;font-style:#444">{{instance.entity.name}}</h1>
						<p>expand: {{instance.expand}}</p>
				    <md-list>
				      <md-subheader class="md-no-sticky">Details</md-subheader>
				      <md-list-item class="md-3-line">
				        <div class="md-list-item-text" layout="column">
									<div layout="row" layout-align="space-between center">
										<p>Dashboard</p>
										<p>{{instance.entity.dashboard_url}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Type</p>
										<p>{{instance.entity.type}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Disk Quota</p>
										<p>{{instance.entity.disk_quota}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Tags</p>
										<p>{{instance.entity.tags}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Last Operation</p>
										<p>{{instance.entity.last_operation.type}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>State</p>
										<p>{{instance.entity.last_operation.state}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Created</p>
										<p>{{instance.entity.last_operation.created_at | date: 'dd.mm.yyyy'}}</p>
									</div>
									<div layout="row" layout-align="space-between center">
										<p>Updated</p>
										<p>{{instance.entity.last_operation.updated_at | date: 'dd.mm.yyyy'}}</p>
									</div>
				        </div>
				      </md-list-item>
				      <md-divider ng-show="instance.expand=='50'"></md-divider>
				      <md-subheader ng-show="instance.expand=='50'" class="md-no-sticky">Service Plan ({{instance.entity.service_plan.entity.name}})</md-subheader>
				      <md-divider ng-show="instance.expand=='50'" ></md-divider>
				      <md-subheader ng-show="instance.expand=='50'" class="md-no-sticky">Service Bindings ({{instance.entity.service_bindings.length}})</md-subheader>

				      <div flex="100" layout="row" layout-align="center center" ng-show="instance.expand=='50'" class="md-no-sticky" style="margin-top:20px;padding-right:16px;">
								<div>
									<button class="md-button md-raised md-warn" type="button" aria-label="Delete Service Instance" style="text-align:center;" ng-click="showConfirm($event, instance)">
										<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon> Delete instance
									</button>
								</div>
							</div>

				    </md-list>
					</md-card-content>
					<div class="md-actions" layout="row" layout-align="end center">
		        <md-button ng-show="instance.expand=='30'" ng-click="instance.expand='50'">More</md-button>
						<md-button ng-show="instance.expand=='50'" ng-click="instance.expand='30'">Less</md-button>
		      </div>
		</md-card>
	</div>
</div>
