<div layout="column">

	<md-list id="privateDomainsList">
		<div layout="row" layout-align="start center">
	    <span class="md-title">Private Domains of {{menu.organization.entity.name}}</span>
			<md-button type="button" aria-label="Show Create Private Domain Dialog" class="md-icon-button md-primary" style="text-align:center;">
				<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg" ng-click="showCreateDomainDialog($event)"></md-icon>
			</md-button>

			<md-switch class="no-focus" ng-model="editMode" aria-label="Toggle edit" style="margin-left:0;">editable</md-switch>
		</div>

		<hr class="style-six" />
    <md-list-item id="item-{{$index}}" class="md-3-line" ng-repeat="domain in domains" style="height:50px;">
      <div class="md-list-item-text" layout="column">
				<div layout="row">

					<div flex ng-show="editMode" layout="row" layout-align="start center" style="max-width:60px;margin-top:-19px;">
						<div flex="auto" style="max-width:50px;">
							<button class="md-button md-icon-button md-warn" type="button" aria-label="Delete Domain" class="md-icon-button md-warn" style="text-align:center;" ng-click="showConfirm($event, domain)">
								<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon>
							</button>
						</div>
					</div>

					<div flex="auto" style="margin-left:10px;">
        		<h3>{{ domain.entity.name }}</h3>
					</div>

				</div>
      </div>
		  <md-divider></md-divider>

    </md-list-item>
	</md-list>

</div>
