# Binary Files #
*.class

# Setting Files #
/.settings
.settings
/settings

# Eclipse Files
.classpath
.project
.bash_profile

# IntelliJ Files #
*.iml
/.idea

# Maven Files #
/target

# Package Files #
*.jar
*.war
*.ear

src/main/webapp/WEB-INF/node_modules
