# Binary Files #
*.class

# Setting Files #
/.settings
.settings
/settings

# Eclipse Files
.classpath
.project
.bash_profile

# IntelliJ Files #
*.iml
/.idea

# Maven Files #
/target

# Package Files #
*.jar
*.war
*.ear

frontend/node_modules
frontend/app/lib/angular
frontend/app/lib/angular-animate
frontend/app/lib/angular-aria
frontend/app/lib/angular-material
frontend/app/lib/angular-material-data-table
frontend/app/lib/angular-material-icons
frontend/app/lib/angular-ui-router
frontend/app/lib/ng-clip
frontend/app/lib/restangular
frontend/app/lib/underscore
frontend/app/lib/zeroclipboard
frontend/app/lib/angular-environment
frontend/app/lib/angular-loading-bar
