<div flex="100" ng-init="init()">
  <md-card flex="100" id="single-app" ng-cloak ng-if="application.entity.name != null">
    <div flex="100" class="app-header" style="background-color:#{{colorString(application.entity.name)}}" layout-gt-md="row" layout="column" layout-align="space-around center">
      <div flex="100" flex-gt-md="70">
        <h1 class="app-title" class="md-display-2">{{application.entity.name}}</h1>
      </div>
      <div flex="100" flex-gt-md="30">
        <img class="app-img" ng-src="assets/png/{{servicePng(application.entity.name)}}_w.png" onerror="this.style.display='none'">
      </div>
    </div>
    <md-card-content>
      <md-list>
        <md-list-item class="md-3-line">
          <div class="md-list-item-text" layout="column">
            <div class="decent-line" layout="row" layout-align="space-between center">
              <p>Memory</p>
              <p>{{application.entity.memory}}</p>
            </div>
            <div class="decent-line" layout="row" layout-align="space-between center">
              <p>Instances</p>
              <p>{{application.entity.instances}}</p>
            </div>
            <div class="decent-line" layout="row" layout-align="space-between center">
              <p>Disk Quota</p>
              <p>{{application.entity.disk_quota}}</p>
            </div>
            <div class="decent-line" layout="row" layout-align="space-between center">
              <p>State</p>
              <p>{{application.entity.state}}</p>
            </div>
            <div class="decent-line" layout="row" layout-align="space-between center">
              <p>Package State</p>
              <p>{{application.entity.package_state}}</p>
            </div>
          </div>
        </md-list-item>


        <div ng-show="app.showMore" style="margin-top:14px;">
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">Routes ({{app.entity.routes.length}})</md-subheader>
          <md-list-item class="md-3-line" ng-show="app.expand=='50'">
            <div class="md-list-item-text" layout="column">
              <div layout="row" layout-align="space-between center" ng-repeat="route in app.entity.routes">
                <p>Host</p>
                <p>{{route.entity.host}}</p>
              </div>
            </div>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">Service Bindings ({{app.entity.service_bindings.length}})</md-subheader>
        </div>
      </md-list>
      <md-card>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </md-card-content>
    <md-card-actions layout="column" layout-gt-sm="row" layout-align="space-between  center" style="background-color:#{{colorString(application.entity.name)}}">
      <div layout="column" layout-gt-sm="row">
        <md-button ng-click="showScaleAppDialog($event, application)">Scale</md-button>
      </div>
      <div layout="column" layout-gt-sm="row" layout-align="space-between center">
        <md-button ng-show="application.entity.state != 'STARTED'" ng-click="startApplication(application)">START</md-button>
        <md-button ng-show="application.entity.state == 'STARTED'" ng-click="stopApplication(application)">STOP</md-button>
        <md-button ng-click="deleteApplication($event, application)">DELETE</md-button>
      </div>
    </md-card-actions>
  </md-card>

  <md-card flex="100">

    <md-card-content flex="100">

      <md-grid-list md-cols="1" md-cols-gt-sm="2" md-cols-gt-md="2" md-cols-gt-lg="4" md-row-height="210px" md-gutter="8px" md-gutter-gt-sm="4px">
        <md-grid-tile class=" custom-grid-tile no-focus no-link" ng-repeat="status in appStatus">

          <div class="custom-grid-item-content">
            <div class="item-header" style="background-color:#{{colorString(application.entity.name)}}">
              <i class="fa fa-3x white" ng-class="{ 'fa-play-circle' : status.entity.state=='RUNNING', 'fa-ban' : status.entity.state=='DOWN', 'fa-stop-circle' : status.entity.state=='STOPPED' }"></i>
            </div>

            <div class="item-content">
              <md-list>
      		      <md-list-item class="md-3-line">
      		        <div class="md-list-item-text" layout="column">
      							<div class="decent-line" layout="row" layout-align="space-between center">
      								<p>Host</p>
      								<p>{{status.entity.stats.host}}</p>
      							</div>
      							<div class="decent-line" layout="row" layout-align="space-between center">
      								<p>Port</p>
      								<p>{{status.entity.stats.port}}</p>
      							</div>
      							<div class="decent-line" layout="row" layout-align="space-between center">
      								<p>Uptime</p>
      								<p>{{status.entity.stats.uptime | number: 2}} h</p>
      							</div>
      							<div class="decent-line" layout="row" layout-align="space-between center">
      								<p>CPU</p>
      								<p>{{status.entity.stats.usage.cpu | number: 4}}</p>
      							</div>
      							<div class="decent-line" layout="row" layout-align="space-between center">
      								<p>Memory</p>
      								<p>{{status.entity.stats.usage.mem | number: 2}} | {{ status.entity.stats.mem_quota | number: 2 }} GB</p>
      							</div>
                    <div class="decent-line" layout="row" layout-align="space-between center">
      								<p>Disk</p>
      								<p>{{status.entity.stats.usage.disk | number: 2}} | {{ status.entity.stats.disk_quota | number: 2 }} GB</p>
      							</div>
      		        </div>
      		      </md-list-item>
              </md-list>
            </div>

          </div>

        </md-grid-tile>
      </md-grid-list>

    </md-card-content>
  </md-card>

  <div print-json obj="application"></div>

</div>
