<div class="md-padding" ng-init="init()">
	<span class="imposing-title">APPLICATIONS</span>
</div>

<div layout="row" layout-wrap>

	<div class="single-instance" ng-repeat="app in s.entity.apps" ng-init="app.showMore=false">
		<md-card style="background-color:#{{colorString(app.entity.name)}}">
			<div class="img-container">
				<img ng-src="assets/png/{{servicePng(app.entity.name)}}_w.png" onerror="this.style.display='none'">
			</div>
			<md-card-content>
				<h1 class="md-title">{{app.entity.name}}</h1>
		    <md-list>
		      <md-list-item class="md-3-line">
		        <div class="md-list-item-text" layout="column">
							<div layout="row" layout-align="space-between center">
								<p>Memory</p>
								<p>{{app.entity.memory}}</p>
							</div>
							<div layout="row" layout-align="space-between center">
								<p>Instances</p>
								<p>{{app.entity.instances}}</p>
							</div>
							<div layout="row" layout-align="space-between center">
								<p>Disk Quota</p>
								<p>{{app.entity.disk_quota}}</p>
							</div>
							<div layout="row" layout-align="space-between center">
								<p>State</p>
								<p>{{app.entity.state}}</p>
							</div>
							<div layout="row" layout-align="space-between center">
								<p>Package State</p>
								<p>{{app.entity.package_state}}</p>
							</div>
		        </div>
		      </md-list-item>


					<div ng-show="app.showMore" style="margin-top:14px;">
			      <md-divider></md-divider>
			      <md-subheader class="md-no-sticky">Routes ({{app.entity.routes.length}})</md-subheader>
						<md-list-item class="md-3-line" ng-show="app.expand=='50'">
							<div class="md-list-item-text" layout="column">
								<div layout="row" layout-align="space-between center" ng-repeat="route in app.entity.routes">
									<p>Host</p>
									<p>{{route.entity.host}}</p>
								</div>
							</div>
						</md-list-item>
			      <md-divider></md-divider>
			      <!--<md-subheader class="md-no-sticky">Service Bindings ({{app.entity.service_bindings.length}})</md-subheader>-->

						<md-subheader class="md-no-sticky no-focus" ng-class="{'clickable' : app.entity.service_bindings.length>0}" ng-click="showBindings = !showBindings">
							Service Bindings ({{app.entity.service_bindings.length}})
							<i class="fa fa-sm" ng-show="app.entity.service_bindings.length>0" ng-class="{'fa-chevron-down' : !showBindings, 'fa-chevron-up' : showBindings}"></i>
						</md-subheader>

						<div class="app-bindings grey" ng-show="showBindings">
							<div ng-repeat="binding in app.bindingsDetails" layout="column">
								<div layout="row" layout-align="center center">
									<div flex="10" layout="column"><i class="fa fa-times no-focus clickable delete red" ng-click=""></i></div>
									<div flex="70" layout="column">{{binding.instance_name}}</div>
								</div>
								<div class="spacer-10"></div>
								<md-divider></md-divider>
								<div class="spacer-10"></div>
							</div>
						</div>

						<div flex="100" layout="column" layout-align="center center" class="md-no-sticky">
							<div flex="60">
								<button ng-disabled="app.entity.service_bindings.length>0" class="md-button md-raised md-warn" type="button" aria-label="Delete Service Instance" ng-click="">
									<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon> Delete app
								</button>
							</div>
							<div ng-hide="app.entity.service_bindings.length==0" flex="100">
								<span class="grey">Delete bindings first</span>
							</div>

						</div>


					</div>


				</md-list>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="space-between center">
				<md-button ui-sref="application({'applicationId':'{{app.metadata.guid}}','organizationId':'{{s.entity.organization.metadata.guid}}','spaceId':'{{s.metadata.guid}}'})">DETAILS</md-button>
        <md-button ng-show="app.showMore==false" ng-click="app.showMore=true">MORE</md-button>
				<md-button ng-show="app.showMore==true" ng-click="app.showMore=false">LESS</md-button>
      </div>
		</md-card>
	</div>
</div>
<div print-json obj="s"></div>
