<md-dialog aria-label="Associate with App">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Associate with App</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <form name="associateRouteForm" ng-submit="submitAssociateRouteForm(associateRouteForm)">

        <div class="form-group full-width less-vmargins">
          <md-input-container>
            <md-select placeholder="Choose app" ng-model="associateRouteForm.app_guid">
              <md-option ng-value="app.metadata.guid" ng-repeat="app in apps">{{app.entity.name}}</md-option>
            </md-select>
            <span class="custom-validation-msg red" ng-show="!associateRouteForm.app_guid && noApp">Please choose an app</span>
          </md-input-container>
          </div>

          <md-dialog-actions flex layout="row">
            <md-button type="button" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
              Associate
            </md-button>
          </md-dialog-actions>

      </form>
    </md-dialog-content>

</md-dialog>
