<div layout="column" ng-init="init()">

  <div layout="row" layout-align="start center">
    <h2>Routes</h2>

  		<button type="button" aria-label="Show Create Route Dialog" class="md-button md-icon-button md-primary" ng-click="showCreateRouteDialog($event)">
  			<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg"></md-icon>
  		</button>

  </div>


	<md-divider></md-divider>

  <md-data-table-container>
    <table md-data-table md-progress="deferred">
      <thead md-order="query.order" md-trigger="onOrderChange">
        <tr>
          <th class="button-table-cell"></th>
          <th name="Domain" order-by="entity.domain.entity.name"></th>
          <th name="Apps" numeric order-by="entity.apps.length"></th>
          <th name="Space" order-by="entity.space.entity.name"></th>
          <th name="Host" order-by="entity.host"></th>
          <th name="Path" order-by="entity.path"></th>
          <th name="Port" order-by="entity.port"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-table-row" ng-repeat="route in routes | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseover="showButtons=true" ng-mouseleave="showButtons=false" ng-class="{'active': route.readOnly == false}">

          <td class="button-table-cell">
            <div ng-show="showButtons && !editActive || !route.readOnly">
              <md-menu>
                <md-button aria-label="Open route interactions menu" class="md-icon-button table-cell-menu-button" ng-click="openMenu($mdOpenMenu, $event)">
                  <md-icon md-menu-origin="" md-svg-icon="assets/svg/menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button ng-disabled="route.readOnly==false" ng-click="prepareEdit(route)">Edit</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-disabled="route.readOnly" ng-click="updateRoute(route)">Save changes</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-disabled="route.readOnly" ng-click="cancelEdit(route)">Dismiss changes</md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-disabled="route.apps.length-route.entity.apps.length==0" ng-click="prepareAssociateDialog($event, route)">Associate with App</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-disabled="route.entity.apps.length==0" class="md-warn" ng-click="showRemoveAppDialog($event, route)">Remove App</md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button class="md-warn" ng-click="showConfirm($event, route)">Delete</md-button>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>
            </div>
          </td>

          <td class="bold">{{route.entity.domain.entity.name}}</td>

          <td>{{route.entity.apps.length}} | {{route.maxApps}}</td>

          <td>{{route.entity.space.entity.name}}</td>

          <td>
            <input ng-hide="route.invalidHost" ng-model="route.entity.host" ng-readonly="route.readOnly" class="input-toggle-edit no-focus" ng-class="{'active': route.readOnly == false}" />
            <p class="red" ng-show="route.invalidHost" ng-click="route.invalidHost=false">{{route.invalidHost}}</p>
          </td>
          <td>
            <input ng-hide="route.invalidPath" ng-model="route.entity.path" ng-readonly="route.readOnly" class="input-toggle-edit no-focus" ng-class="{'active': route.readOnly == false}"/>
            <p class="red" ng-show="route.invalidPath" ng-click="route.invalidPath=false">{{route.invalidPath}}</p>
          </td>
          <td>
            <input ng-hide="route.invalidPort || route.entity.domain.entity.router_group_guid==null" ng-model="route.entity.port" ng-readonly="route.readOnly || route.entity.domain.entity.router_group_guid == null" class="input-toggle-edit no-focus" ng-class="{'active': route.readOnly == false}" type="number" />
            <p class="red" ng-show="route.invalidPort" ng-click="route.invalidPort=false">{{route.invalidPort}}</p>
          </td>

        </tr>
      </tbody>
    </table>
  </md-data-table-container>

  <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{routes.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>

</div>
