<md-dialog aria-label="Remove App">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Remove App</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <form name="removeAppForm" ng-submit="submitRemoveAppForm(removeAppForm)">

        <div class="form-group full-width less-vmargins">
          <md-input-container>
            <md-select ng-required="true" placeholder="Choose app" ng-model="removeAppForm.app_guid">
              <md-option ng-value="app.metadata.guid" ng-repeat="app in route.entity.apps">{{app.entity.name}}</md-option>
            </md-select>
            <span class="custom-validation-msg" ng-show="!removeAppForm.app_guid && noApp">Please choose an app</span>
          </md-input-container>
          </div>

          <md-dialog-actions flex layout="row">
            <md-button type="button" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-disabled="!removeAppForm.app_guid" type="submit">
              Remove
            </md-button>
          </md-dialog-actions>

      </form>
    </md-dialog-content>

</md-dialog>
