<md-dialog aria-label="Associate with App">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Associate with App</h2>
      </div>
    </md-toolbar>

    <md-dialog-content style="width:300px;min-width:300px;min-height:100px;max-width:800px;">

      <form name="associateRouteForm" ng-submit="submitAssociateRouteForm(associateRouteForm)">

        <div class="form-group">
          <md-input-container>
            <md-select ng-required="true" placeholder="Choose app" ng-model="associateRouteForm.app_guid" style="min-width: 200px;">
              <md-option ng-value="app.metadata.guid" ng-repeat="app in apps">{{app.entity.name}}</md-option>
            </md-select>
            <p ng-show="noApp" style="color:red;margin-top:-17px;">Please choose an app</p>
          </md-input-container>
          </div>

          <div flex layout="row" style="position:absolute;bottom:15px;right:17px;">
            <md-button type="button" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
              Create
            </md-button>
          </div>

      </form>
    </md-dialog-content>




</md-dialog>
