<div layout="column" ng-init="init()" style="padding-top:8px;">

  <div layout="row" layout-align="start start">
    <h2>Routes</h2>

  		<button type="button" aria-label="Show Create Route Dialog" class="md-button md-icon-button md-primary" style="text-align:center;" ng-click="showCreateRouteDialog($event, 'create')">
  			<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg" style="margin-top:8px;"></md-icon>
  		</button>

  </div>


	<md-divider></md-divider>

  <div style="margin-bottom:60px;">

    <div id="item-{{$index}}" class="item no-focus" ng-repeat="route in routes" style="max-width:100%;width:{{route.w}};height:{{route.h}};padding:5px;">
      <div class="md-whiteframe-z2" style="height:100%;border-left:3px solid #{{colorString(route.entity.domain.entity.name)}};padding-right:10px;">
        <div flex layout="column" style="margin:5px 0 0 8px;overflow:hidden;">
          <h3 style="margin:10px 0 5px 13px;">{{route.entity.domain.entity.name}}</h3>
          <md-divider></md-divider>

          <md-list>
  		      <md-list-item class="md-3-line">
  		        <div class="md-list-item-text" layout="column" style="margin:0;">
  							<div class="decent-line" layout="row" layout-align="space-between start">
  								<p style="min-width:45px;">Host:</p>
  								<input ng-hide="route.invalidHost" ng-model="route.entity.host" ng-readonly="readOnly" ng-required="false" class="input-toggle-edit no-focus" />
                  <p ng-show="route.invalidHost" style="color:red;" ng-click="route.invalidHost=false">{{route.invalidHost}}</p>
  							</div>
                <div class="decent-line" layout="row" layout-align="space-between start">
  								<p style="min-width:45px;">Path:</p>
  								<input ng-hide="route.invalidPath" ng-model="route.entity.path" ng-readonly="readOnly" class="input-toggle-edit no-focus" />
                  <p ng-show="route.invalidPath" style="color:red;" ng-click="route.invalidPath=false">{{route.invalidPath}}</p>
  							</div>

                <!-- HIDDEN -->
                <div ng-show="route.w==w_expanded">
                  <div class="decent-line" layout="row" layout-align="space-between start" ng-hide="route.entity.domain.entity.router_group_guid==null">
    								<p>Port:</p>
    								<input ng-model="route.entity.port" ng-required="false" type="number" min="1024" max="65535" class="input-toggle-edit no-focus" />
    							</div>
                  <div class="decent-line" layout="row" layout-align="space-between start" style="height:35px;">
    								<div style="margin-top:4px;"><p>Space:</p></div>
    							  <div style="margin-top:4px;">
                      <p>{{route.entity.space.entity.name}}</p>

                    </div>
    							</div>
                  <div class="decent-line" layout="row" layout-align="space-between start">
    								<p>Apps:</p>
                    <p>{{route.entity.apps.length}}</p>
    							</div>
                  <div layout="row">
                    <div>
                      <md-button ng-hide="route.entity.apps.length==apps.length" ng-click="prepareAssociateDialog($event, route)">Associate with App</md-button>
                    </div>
                    <div layout="row">
                      <md-button type="button" style="text-align:center;" ng-show="readOnly" ng-click="prepareEdit(route)">Edit</md-button>
                      <md-button type="button" style="text-align:center;" ng-hide="readOnly" ng-click="cancelEdit(route)">Cancel</md-button>
                      <md-button style="text-align:center;" ng-hide="readOnly" ng-click="updateRoute(route)">Save</md-button>
                    </div>
                  </div>
                </div>
              </div>
            </md-list-item>
          </md-list>

          <!-- BUTTONS -->
            <md-button class="md-warn" style="position:absolute;bottom:0px;left:18px;" ng-click="showConfirm($event, route, 'delete')" ng-show="route.w==w_expanded">Delete Route</md-button>
            <md-button class="md-warn" style="position:absolute;bottom:0px;left:135px;"ng-click="showRemoveAppDialog($event, route)" ng-show="route.w==w_expanded && route.entity.apps.length>0">Remove App</md-button>
            <md-button id="tglbt-{{$index}}" style="position:absolute;bottom:0;right:8px;" ng-click="toggle(route, $event)">{{route.w === w_expanded ? "Less" : "MORE"}}</md-button>

        </div>
      </div>
    </div>

  </div>

</div>
