<div class="container">
	<form class="form-standard form-horizontal" ng-init="initUser()" ng-submit="save('user')" name="form">
		<h2>Create User</h2>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="firstName">Surname:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Enter your surname..." type="text" class="form-control" ng-model="user.firstName" name="firstName" />						 
				<span class="help-block">{{errors.firstName}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="lastName">Name:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Enter your name..." type="text" class="form-control" ng-model="user.name" name="lastName" />						 
				<span class="help-block">{{errors.lastName}}</span>
			</div>
		</div>									
		<div class="form-group">
			<label class="col-lg-2 control-label" for="email">E-Mail:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Enter your e-mail..." type="text" class="form-control" ng-model="user.email" name="email" />						 
				<span class="help-block">{{errors.email}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="phone">Phone:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Enter your phone..." type="text" class="form-control" ng-model="user.phone" name="phone" />
				<span class="help-block">{{errors.phone}}</span>
			</div>
		</div>
		<div ng-repeat="address in user.addresses">
			<div class="form-group">
				<label class="col-lg-2 control-label" for="country">Country:</label>
				<div class="input-group col-lg-10">
					<input placeholder="Enter your phone..." type="text" class="form-control" ng-model="address.country" name="country" />						
					<span class="help-block">{{errors.country}}</span>
				</div>
			</div>		
			<div class="form-group">
				<label class="col-lg-2 control-label" for="region">Region:</label>
				<div class="input-group col-lg-10">
					<input placeholder="Enter region..." type="text" class="form-control" ng-model="address.region" name="region" /> 
					<span class="help-block">{{errors.region}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="city">City:</label>
				<div class="input-group col-lg-10">
					<input placeholder="Enter city..." type="text" class="form-control" ng-model="address.city" name="city" />						 
					<span class="help-block">{{errors.city}}</span>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-lg-2 control-label" for="zipcode">Zipcode:</label>
				<div class="input-group col-lg-10">
					<input placeholder="Enter zipcode..." type="text" class="form-control" ng-model="address.zipCode" name="zipcode" />
					<span class="help-block">{{errors.zipcode}}</span>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-lg-2 control-label" for="zipcode">Street:</label>
				<div class="input-group col-lg-10">
					<input placeholder="Enter street..." type="text" class="form-control" ng-model="address.street" name="street" />
					<span class="help-block">{{errors.street}}</span>
				</div>
			</div>
		</div>
		<div class="form-group form-buttons">
			<div class="col-lg-offset-2 col-lg-10">
				<button class="btn btn-default" ng-click="reset()" >Cancel</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</div>
	</form>	
</div>
