<div class="container">
	<h2 ng-init="userList()">Co Workers</h2>
	<table class="table table-bordered table-striped" ng-grid>
		<legend></legend>
	    <tr ng-repeat="user in users">
	      	<td ng-grid-title="Name"><a href="#/user/{{user.id}}">{{user.firstName}}</a></td>
			<td ng-grid-title="Surname">{{user.name}}</td>
			<td ng-grid-title="E-Mail">{{user.email}}</td>
			<td ng-grid-title="Options" ng-grid-name="options">
				<button class="btn btn-danger" ng-click="delete(user)">
					<i class="glyphicon glyphicon-trash icon-white"></i>
				</button>
			</td>
	    </tr>		  
	</table>
</div>
