<div id="space-list" ng-hide="loading" layout-wrap layout-align="space-around" layout="row" ng-show="space.selected == s.entity.name" ng-init="init()">
	<md-card ng-repeat="s in spaces" class="md-whiteframe-z4" flex="100">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings">
					<md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
				</md-button>
				<h2 id="anc-{{s.entity.name}}">
					<span>
						<a ng-click="state.go('space', {organizationId : s.entity.organization.metadata.guid, spaceId : s.metadata.guid})">
								{{s.entity.name}}
						</a>
					</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="s.minimize=!s.minimize" aria-label="collapse">
					<md-icon class="white" ng-hide="s.minimize" md-svg-icon="assets/svg/arrow_up.svg"></md-icon>
					<md-icon class="white" ng-show="s.minimize" md-svg-icon="assets/svg/arrow_down.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-card-content class="animate-hide" ng-hide="s.minimize">
			<div layout="row" layout-sm="column" >
				<md-card class="md-whiteframe-z2" flex>
					<md-card-content layout="column">
						<div layout="column" layout-gt-md="row" layout-align="start center">
							<h1 class="md-title no-focus" ng-class="{ 'clickable hover' : s.entity.apps.length > 0 }" flex="100" flex-gt-md="80" ng-click="checkIfApps(s)">Apps</h1>
							<p class="md-title" flex="100" flex-gt-md="10">
								{{s.entity.apps.length}}
							</p>
						</div>
						<md-divider>
							<br>
						</md-divider>
						<div flex>
							<md-grid-list class="space-apps-grid" md-cols="1" md-cols-gt-xs="2" md-cols-gt-lg="3" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
								<md-grid-tile ng-repeat="app in s.entity.apps"
									style="background-color:#{{colorString(app.entity.name)}}"
									ui-sref="application({'applicationId':'{{app.metadata.guid}}','organizationId':'{{s.entity.organization.metadata.guid}}','spaceId':'{{s.metadata.guid}}'})">
									<img ng-src="assets/png/{{servicePng(app.entity.name)}}_w.png" onerror="this.style.display='none'">
									<md-grid-tile-footer>
										<h3>
											{{app.entity.name}}
											<md-tooltip>
												{{app.entity.name}}
											</md-tooltip>
										</h3>
									</md-grid-tile-footer>
								</md-grid-tile>
							</md-grid-list>
						</div>
					</md-card-content>
				</md-card>
				<md-card class="md-whiteframe-z2" flex>
					<md-card-content layout="column">
						<div layout="column" layout-gt-md="row" layout-align="start center">
							<h1 class="md-title no-focus" ng-class="{ 'clickable hover' : s.entity.service_instances.length > 0 }" flex="100" flex-gt-md="80" ng-click="checkIfInstances(s)">Service Instances</h1>
							<p class="md-title" flex="100" flex-gt-md="10">
								{{s.entity.service_instances.length}}
							</p>
						</div>
						<md-divider >
							<br>
							<!--span class=" pull-right fa fa-chevron-down md-toggle-icon md-button-toggle" ng-class="{'toggled' : hideApps}"></span-->
						</md-divider>
						<div flex ng-cloak>
							<md-grid-list class="space-instances-grid" md-cols="1" md-cols-gt-xs="2"  md-cols-gt-lg="3" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
								<md-grid-tile class="no-focus no-link" ng-repeat="ser in s.entity.service_instances" style="background-color:#{{colorString(ser.entity.name)}}">
									<img ng-src="assets/png/{{servicePng(ser.entity.service_plan.entity.unique_id)}}_w.png" onerror="this.style.display='none'">
									<!--img style="width:60%" ng-src="assets/png/mysql_w.png"-->
									<md-grid-tile-footer>
										<h3>
											{{ser.entity.name}}
											<md-tooltip>
												{{ser.entity.name}}
											</md-tooltip>
										</h3>
									</md-grid-tile-footer>
								</md-grid-tile>
							</md-grid-list>
						</div>
					</md-card-content>
				</md-card>
			</div>
			<!--md-card class="md-whiteframe-z2" flex ng-click="showUsersDialog(ev, s.entity)">
				<md-card-content>
					<h2 class="md-title">Users</h2>
				</md-card-content>
			</md-card-->
			<!--pre>{{ s | json }}</pre-->
		</md-card-content>
	</md-card>
	<div flex layout="row" layout-align="end center">
		<md-button class="md-fab md-fab-detail md-primary" aria-label="add" ng-click="showCreateSpaceDialog()">
			<md-tooltip>
				Add Space
			</md-tooltip>
			<ng-md-icon icon="add" size="40"></ng-md-icon>
		</md-button>
	</div>
</div>
