<md-dialog aria-label="Create new space">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create new space</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <form name="createSpaceForm" ng-submit="createSpaceForm.$valid && submitCreateSpaceForm(createSpaceForm)" novalidate>

        <div class="form-group full-width less-vmargins">
          <md-input-container>
            <label>Space name</label>
            <input ng-model="createSpaceForm.name" name="spacename" required ng-minlength="3">
            <span class="custom-validation-msg red" ng-show="createSpaceForm.spacename.$touched && createSpaceForm.spacename.$error.required">Required field</span>
            <span class="custom-validation-msg red" ng-show="createSpaceForm.spacename.$error.minlength">Must be at least 3 characters</span>
            <span class="custom-validation-msg red" ng-show="nameInUse">Name already in use</span>
          </md-input-container>
          <md-input-container>
            <md-switch class="no-focus" ng-model="createSpaceForm.allow_ssh" aria-label="Toggle allow ssh">allow SSH</md-switch>
          </md-input-container>
        </div>

        <md-dialog-actions flex layout="row">
          <md-button type="button" ng-click="cancel()">
            Cancel
          </md-button>
          <md-button class="md-raised md-primary" ng-disabled="createSpaceForm.$invalid" type="submit">
            Create
          </md-button>
        </md-dialog-actions>

      </form>
    </md-dialog-content>




</md-dialog>
