<div layout="column">
  <md-content layout-padding>

    <div flex ng-show="loading" layout="center center" layout-align="space-around">
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-hide="loading">
      <form ng-submit="register(registerForm)" name="registerForm">
        <h2>Create a Cloud Foundry account</h2>
        <div layout="column" flex="50">

          <div layout="row" flex>
            <div flex="45">
              <md-input-container>
                <label>Organization</label>
                <input ng-model="registerForm.orgName" ng-required="true" ng-change="checkOrgName(registerForm.orgName)" minlength="3">
              </md-input-container>
              <p ng-show="!organizationValid && (registerForm.orgName.length)">Name already exists</p>
            </div>
          </div>

          <div ng-show="organizationValid && registerForm.orgName.length">
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="registerForm.email" ng-required="true" type="email">
            </md-input-container>
            <p ng-show="usernameExists" style="margin-top:-15px;color:red;">Username already exists</p>

            <md-input-container flex>
              <label>Firstname</label>
              <input ng-model="registerForm.firstname" ng-required="true" type="text" minlength="3">
            </md-input-container>


            <md-input-container flex>
              <label>Lastname</label>
              <input ng-model="registerForm.lastname" ng-required="true" minlength="3">
            </md-input-container>

            <md-input-container flex>
              <label>Password</label>
              <input ng-model="registerForm.password" ng-required="true" minlength="6" type="password">
            </md-input-container>
          </div>

          <section layout="row" layout-sm="column" layout-align="end center">
            <md-button type="button" class="md-fab detail md-warn md-fab-detail" aria-label="cancel" ng-click="state.go('login')">
              <ng-md-icon icon="clear" size="40" style="fill:white"></ng-md-icon>
              <md-tooltip>
                Cancel
              </md-tooltip>
            </md-button>
            <md-button class="md-fab detail md-primary md-fab-detail" aria-label="register" type="submit">
              <ng-md-icon icon="add" size="40" style="fill:white"></ng-md-icon>
              <md-tooltip>
                Register
              </md-tooltip>
            </md-button>
          </section>

        </div>
      </form>
    </div>
  </md-content>
</div>
