<div class="container" style="width: 600px; margin: 0 auto; margin-top: 100px">
	<div ng-show="authenticating">
		<div class="well loading-well">
			<h3 class="text-center">Hold on...</h3>
			<h5 class="text-center">We are validating your request!</h5>
		</div>
	</div>
	<div ng-hide="authenticating">			
		<form name="loginForm" class="form-standard form-horizontal" name="form" novalidate>
			<h3>Log in to Cloud Foundry</h3>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="username">Username</label>
				<div class="input-group col-lg-10">
					<input name="userForm.email" id="username" type="text" class="form-control" placeholder="Email" ng-model="userForm.email" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="password">Password</label>
				<div class="input-group col-lg-10">
					<input name="userForm.password" id="password" type="password" class="form-control" placeholder="Password" ng-model="userForm.password" required>
				</div>
			</div>
			<div class="form-group form-buttons">
				<div class="col-lg-offset-2 col-lg-10">
					<a href="#/register" class="btn btn-warning">Create an account</a>
					<button class="btn btn-primary" ng-click="login(userForm)" ng-disabled="authenticate">Sign in</button>
				</div>
			</div>
		</form>
	</div>
</div>