<div class="container">
    <div ng-show="loading">
        <div class="well loading-well">
            <h3 class="text-center">Hold on...</h3>
            <h5 class="text-center">We are loading your information!</h5>            
        </div>
    </div>
    <div ng-hide="loading" class="well well-small well-light">
        <h5>User info</h5>
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd>{{userInfo.userName}}</dd>
            <dt>Email</dt>
            <dd><div ng-repeat="email in userInfo.emailAddresses">{{email}}</div></dd>
            <dt>Firstname</dt>
            <dd>{{userInfo.firstName}}</dd>
            <dt>Lastname</dt>
            <dd>{{userInfo.lastName}}</dd>
            <dt>Organizations</dt>
            <dd><div ng-repeat="organization in userInfo.organizations">{{organization}}</div></dd>
        </dl>
    </div>
</div>