<div class="container">
	<h2 ng-init="initList()">Logging</h2>
	<p>Die folgende Tabelle gibt eines Übersicht über alle aktuell aufgetretenen Logeinträge.</p>
	<table class="table table-bordered table-striped" ng-grid>
		<legend></legend>
	    <tr ng-repeat="event in events">
	      	<td ng-grid-title="Id"><a href="#/manage/logging/{{event.id}}">{{event.id}}</a></td>
			<td ng-grid-title="Info">{{event.info}}</td>
			<td ng-grid-title="Timestamp">{{event.timestamp}}</td>
			<td ng-grid-title="Type">{{event.type}}</td>
			<td ng-grid-title="Options" ng-grid-name="options">
				<button class="btn btn-danger" ng-click="delete(event)">
					<i class="glyphicon glyphicon-trash icon-white"></i>
				</button>
			</td>
	    </tr>		  
	</table>
</div>
