<!-- changed -->
<div flex ng-show="loading" layout="center center" layout-align="space-around">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-hide="loading" ng-init="init()" layout="column">
  <h3 class="Tab">Space Name: {{space.entity.name}}</h3>
  <md-button class="md-fab md-warn md-fab-detail" aria-label="delete" ng-click="deleteSpace()">
    <ng-md-icon icon="delete" size="40" style="fill:white"></ng-md-icon>
    <md-tooltip>
      Delete
    </md-tooltip>
  </md-button>
