<div class="container">
	<h2 ng-init="initList()">Organisationen</h2>
	<p>Die folgende Tabelle gibt eines Übersicht über alle aktuell definierten Organisationen.</p>
	<table class="table table-bordered table-striped" ng-grid>
		<legend></legend>
	    <tr ng-repeat="organisation in organisations">
	      	<td ng-grid-title="Name"><a href="#/manage/organisations/{{organisation.id}}">{{organisation.name}}</a></td>
			<td ng-grid-title="Options" ng-grid-name="options">
				<button class="btn btn-danger" ng-click="delete(organisation)">
					<i class="glyphicon glyphicon-trash icon-white"></i>
				</button>
			</td>
	    </tr>		  
	</table>
</div>
