
<div layout="column" layout-gt-md="row" layout-align="start start">
	<h2>Services Marketplace</h2>
</div>

<md-divider></md-divider>

<md-card class="md-whiteframe-z2" flex>
	<md-card-content layout="column">
		<div flex>
			<md-grid-list md-cols-sm="2" md-cols-gt-sm="3" md-cols-gt-lg="5" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
				<md-grid-tile class="no-focus" ng-repeat="service in services" style="background-color:#{{colorString(service.entity.unique_id)}}"
				ui-sref="service-details({'organizationId':'{{orgId}}','serviceId':'{{service.metadata.guid}}', 'service':service})">

					<img style="height:50%; padding-bottom:45px;" ng-src="assets/png/{{servicePng(service.entity.unique_id)}}_w.png" onerror="this.style.display='none'">
					<md-grid-tile-footer>
						<h3>
							{{service.entity.label}}
							<md-tooltip>
								{{service.entity.description}}
							</md-tooltip>
						</h3>
					</md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</md-card-content>
</md-card>
