<md-dialog aria-label="Service Plan Details" ng-controller="serviceController as ctrl">

    <md-toolbar>
      <div class="md-toolbar-tools" layout="column">
        <h2>Service Plan: {{plan.entity.name}}</h2>
        <span flex=""></span>
        <div layout="row" layout-align="end">
            <md-button aria-label="Close Dialog" class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-icon="assets/svg/ic_close_48px.svg"></md-icon>
            </md-button>
        </div>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div flex ng-hide="ctrl.showCreate">
        <p class="bold">Pricing:</p>
        <p>{{ plan.entity.free == 'true' ? 'Not free' : 'Free' }}</p>
        <md-divider></md-divider>
        <p class="bold">Description:</p>
        <p>{{plan.entity.description}}</p>

        <div class="spacer-30"></div>

        <div class="center" flex>
          <md-button class="md-raised md-primary" aria-label="Create new Instance" ng-click="ctrl.showCreate = true">Create new Instance</md-button>
        </div>
      </div>

      <div ng-show="ctrl.showCreate">
        <form name="createServiceInstanceForm" ng-submit="submitCreateServiceInstanceForm(createServiceInstanceForm)">
          <div flex class="form-group full-width less-vmargins">
            <md-input-container>
              <label>Instance name</label>
              <input type="text" ng-model="createServiceInstanceForm.instanceName" ng-required="true" minlength="5">
              <span class="custom-validation-msg red" ng-show="nameInUse">Name already in use</span>
            </md-input-container>
            <md-input-container>
              <md-select placeholder="Choose space" ng-model="createServiceInstanceForm.spaceId">
                <md-option ng-value="space.metadata.guid" ng-repeat="space in spaces">{{space.entity.name}}</md-option>
              </md-select>
              <span class="custom-validation-msg red" ng-show="!createServiceInstanceForm.spaceId && noOption">Please choose a space</span>
            </md-input-container>

            <md-chips ng-model="tags" readonly="false" placeholder="Add another" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="Add a tag"></md-chips>
            <span class="custom-validation-msg grey">Press enter to apply tag</span>

          </div>
          <span flex=""></span>
          <md-dialog-actions flex layout="row">
            <md-button type="button" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
              Create
            </md-button>
          </md-dialog-actions>
        </form>
      </div>


    </md-dialog-content>

</md-dialog>
