<div ng-controller="servicesController as ctrl" ng-init="init()">
	<div style="padding-top:8px;padding-bottom:1px;">
		<h2>{{ctrl.service.entity.label}}</h2>
	</div>

	<md-divider></md-divider>

  <div layout="row" layout-wrap>

		<!-- SERVICE PLANS -->
    <md-card flex="100" flex-gt-md="45">
      <md-toolbar>
        <div class="md-toolbar-tools">Service Plans</div>
      </md-toolbar>
			<md-card-content layout="column">
				<div flex>
					<md-grid-list md-cols-sm="2" md-cols-gt-sm="3" md-cols-gt-md="2" md-cols-gt-lg="3" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
						<md-grid-tile class="no-focus" ng-repeat="plan in ctrl.service.entity.service_plans" ng-style="{'background-color': plan.color}" ng-click="showServicePlanDetails(plan)">
							<img style="height:50%; padding-bottom:45px;" ng-src="assets/png/{{servicePng(plan.entity.unique_id)}}_w.png" onerror="this.style.display='none'">
							<md-grid-tile-footer class="center">
								<h3>
									{{plan.entity.name}}
								</h3>
							</md-grid-tile-footer>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</md-card-content>
		</md-card>
		<!-- END / SERVICE PLANS -->

		<!-- SERVICE INSTANCES -->
		<md-card flex="100" flex-gt-md="45">
      <md-toolbar>
        <div class="md-toolbar-tools">Current Service Instances</div>
      </md-toolbar>
			<md-card-content layout="column">
				<div flex>
					<md-grid-list md-cols-sm="2" md-cols-gt-sm="3" md-cols-gt-md="2" md-cols-gt-lg="3" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
						<md-grid-tile class="no-focus no-link" ng-repeat="instance in instances" ng-style="{'background-color': instance.color}">
							<img style="height:50%; padding-bottom:45px;" ng-src="assets/png/{{servicePng(instance.planUniqueId)}}_w.png" onerror="this.style.display='none'">
							<md-grid-tile-footer>
								<h3>
									{{instance.entity.name}}
								</h3>
							</md-grid-tile-footer>
						</md-grid-tile>
					</md-grid-list>
				</div>
			</md-card-content>
		</md-card>
		<!-- END / SERVICE INSTANCES -->

	</div>

</div>
