<div layout="column" ng-init="init()">

	<md-list id="orgUserList">
		<div layout="column" layout-gt-md="row" layout-align="start start">
	    <h2>Users of {{org.entity.name}}</h2>
			<div layout="row" layout-align="start center" style="margin-top:2px;">
				<button type="button" aria-label="Show Create User Dialog" class="md-button md-icon-button md-primary" style="text-align:center;" ng-click="showCreateUserDialog()">
					<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg"></md-icon>
				</button>

				<md-switch class="no-focus" ng-model="editMode" aria-label="Toggle edit" style="margin-left:0;">editable</md-switch>
			</div>

		</div>

		<hr class="style-six" />

    <md-list-item id="item-{{$index}}" class="md-3-line" ng-repeat="user in orgUsers" style="">
      <div class="md-list-item-text" layout="column">
				<div layout="row" layout-align="start center">

					<div flex ng-show="editMode" layout="row" layout-align="start center" style="max-width:120px;">
						<div flex style="max-width:50px;">
							<button class="md-button md-icon-button md-primary" type="button" aria-label="Edit User" style="text-align:center;" ng-click="switchToEditUser(user)">
								<md-icon class="no-focus" md-svg-icon="assets/svg/ic_edit_48px.svg"></md-icon>
							</button>
						</div>

						<div flex style="max-width:50px;">
							<button class="md-button md-icon-button md-warn" type="button" aria-label="Delete User" style="text-align:center;" ng-click="showConfirm($event, user)">
								<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon>
							</button>
						</div>
					</div>

					<div flex layout="row" layout-align="start center">

						<div flex="40" style="margin-left:10px;">
	        		<h3>{{ user.entity.username }}</h3>
						</div>

						<div flex="60" layout="column" layout-gt-md="row" layout-align="start center">
							<div flex="30" ng-show="user.isOrgManager"><p>Manager</p></div>
							<div flex="40" ng-show="user.isOrgBillingManager"><p>Billing Manager</p></div>
							<div flex="30" ng-show="user.isOrgAuditor"><p>Auditor</p></div>
						</div>

					</div>

				</div>
      </div>
			<md-divider></md-divider>

    </md-list-item>
	</md-list>

</div>
