<div ng-hide="loading">
	<h2>Services Marketplace</h2>
	<md-subheader class="md-no-sticky">Currently available services</md-subheader>
	<div layout="row" layout-sm="column" layout-wrap>
		<md-card flex="33" ng-repeat="service in services" class="md-whiteframe-z2">
			<md-card-content ng-click="showDetails(service, scope)" class="no-focus" style="cursor:pointer;">
				<div layout="row">
					<img ng-src="assets/png/{{service.entity.label}}.png">
					<div layout="column">
						<h3 class="Tab">{{service.entity.label}}</h3>
						<p class="Tab">{{service.entity.description}}</p>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<md-card class="md-whiteframe-z2" layout-wrap>
		<md-card-content>
			<h3>Services</h3>
			<p>View only access to all org and space info, settings, reports</p>
			<md-divider></md-divider>
			<h3>Plans</h3>
			<p>View only access to all space information, settings, reports, logs</p>
		</md-card-content>
	</md-card>
