<div flex ng-show="loading" layout="center center" layout-align="space-around">
	<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-hide="loading" ng-controller="servicesController as ctrl">
	<h2>{{ctrl.service.entity.label}}</h2>

  <div layout="row" layout-wrap>

    <md-card flex="100" flex-gt-lg="60">

      <md-toolbar>
        <div class="md-toolbar-tools">Service Plans</div>
      </md-toolbar>

	  	<md-content class="md-padding" layout="column">

        <md-grid-list md-cols-sm="1" md-cols-gt-sm="1" md-cols-lg="2" md-cols-gt-lg="2" md-row-height="160px" md-gutter="4px">

					<md-grid-tile ng-repeat="plan in ctrl.service.entity.service_plans" md-rowspan="1" md-colspan="1" md-colspan-sm="1">

						<md-content class="md-whiteframe-1dp" style="width:100%;height:100%;position:relative;" ng-mouseover="btClass='bt-active'" ng-mouseleave="btClass='bt-inactive'">
							<p class="md-title" style="text-align:center;">{{ plan.entity.name }}</p>
              <p style="text-align:center;">{{ plan.entity.free == 'true' ? 'Not free' : 'Free' }}</p>

              <div ng-class="btClass" layout="row" flex="100" style="position:absolute;bottom:10px;height:40px;width:100%;">
                <div flex="33" style="text-align:center;">
                  <md-button class="md-icon-button md-primary" aria-label="Show Details" style="max-height:40px;" ng-click="showServicePlanDetails(plan)">
                    <i class="fa fa-info-circle fa-2x"></i>
                    <md-tooltip md-direction="top" style="margin-top:20px;">Show Details</md-tooltip>
                  </md-button>
                </div>
                <div flex="33" style="text-align:center;">
                  <md-button class="md-icon-button md-primary" aria-label="Create Instances" style="max-height:40px;" ng-click="showCreateInstanceDialog(plan)">
                    <i class="fa fa-plus fa-2x"></i>
                    <md-tooltip md-direction="top" style="margin-top:20px;">Create Instance</md-tooltip>
                  </md-button>
                </div>
								<div flex="33" style="text-align:center;">
                  <md-button class="md-icon-button md-primary" aria-label="Show Instances" style="max-height:40px;">
                    <i class="fa fa-server fa-2x"></i>
                    <md-tooltip md-direction="top" style="margin-top:20px;">Show Instances</md-tooltip>
                  </md-button>
                </div>
              </div>

						</md-content>

    			</md-grid-tile>

				</md-grid-list>


	  	</md-content>

		</md-card>




</div>

<pre>{{ctrl.service | json}}</pre>
