<div layout="column" ng-init="init()">

  <div layout="row" layout-align="start start">
    <h2>Private Domains of {{menu.organization.entity.name}}</h2>

  		<button type="button" aria-label="Show Create Domain Dialog" class="md-button md-icon-button md-primary" style="text-align:center;" ng-click="showCreateDomainDialog($event)">
  			<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg" style="margin-top:8px;"></md-icon>
  		</button>

  </div>


	<md-divider></md-divider>

	<md-data-table-container>
    <table md-data-table md-progress="deferred">
      <thead md-order="query.order" md-trigger="onOrderChange">
        <tr>
          <th class="button-table-cell"></th>
          <th name="Domain" order-by="entity.name"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-table-row" ng-repeat="domain in domains | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseover="showButtons=true" ng-mouseleave="showButtons=false">

          <td class="button-table-cell">
            <div ng-show="showButtons">
              <md-menu>
                <md-button aria-label="Open route interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" style="width:30px;height:36px;line-height:0;">
                  <md-icon md-menu-origin="" md-svg-icon="assets/svg/menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button class="md-warn" ng-click="showConfirm($event, domain)">Delete</md-button>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>
            </div>
          </td>

          <td style="font-weight:bold;">{{domain.entity.name}}</td>

        </tr>
      </tbody>
    </table>
  </md-data-table-container>

  <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{domains.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>

</div>
