<div class="container">
	<form class="form-standard form-horizontal" ng-init="initorder()" ng-submit="save('order')" name="form">
		<h2>Auftrag einstellen</h2>
		<p>Mit dem folgenden Formular können Sie einen Auftrag einstellen.</p>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="orderNumber">Ordernummer:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie die Ordernummer..." type="text" class="form-control" ng-model="order.orderNumber" name="orderNumber" />
				<span class="help-block">{{errors.orderNumber}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="workOrder">Werksauftragsnummer:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie die Werksauftragsnummer ein..." type="text" class="form-control" ng-model="order.workOrder" name="workOrder" />
				<span class="help-block">{{errors.cpu}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="clientName">Name des Auftraggebers:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie den Name des Auftraggebers ein..." type="text" class="form-control" ng-model="order.clientName" name="clientName" />
				<span class="help-block">{{errors.clientName}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="clientEmail">E-Mail des Auftraggebers:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie die E-Mail Adresse des Auftraggebers ein..." type="text" class="form-control" ng-model="order.clientEmail" name="clientEmail" />
				<span class="help-block">{{errors.clientEmail}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="projectName">Projektname:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie den Projektnamen ein..." type="text" class="form-control" ng-model="order.projectName" name="projectName" />
				<span class="help-block">{{errors.projectName}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="projectDescription">Projektbeschreibung:</label>
			<div class="input-group col-lg-10">
				<textarea rows="4" placeholder="Bitte geben Sie die Projektbeschreibung ein..." type="text" class="form-control" ng-model="order.projectDescription" name="projectDescription" />
				<span class="help-block">{{errors.projectDescription}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="startDate">Startdatum:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte wählen Sie ein Startdatum aus..." type="text" class="form-control" ng-model="order.startDate" name="startDate" />
				<span class="help-block">{{errors.startDate}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="dlvNumber">DLV-Nummer:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie die DLV Nummer an..." type="text" class="form-control" ng-model="order.dlvNumber" name="dlvNumber" />
				<span class="help-block">{{errors.startDate}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="costCenterName">Name des Kostenstellenleiters:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie den Namen des Kostenstellenleiters an..." type="text" class="form-control" ng-model="order.costCenterName" name="costCenterName" />
				<span class="help-block">{{errors.costCenterName}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="costCenterEmailAddress">E-Mail Adresses des Kostenstellenleiters:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie den E-Mail Adresses des Kostenstellenleiters an..." type="text" class="form-control" ng-model="order.costCenterEmailAddress" name="emailAddress" />
				<span class="help-block">{{errors.costCenterEmailAddress}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="costCenter">Kostenstelle:</label>
			<div class="input-group col-lg-10">
				<input placeholder="Bitte geben Sie die Kostenstelle an..." type="text" class="form-control" ng-model="order.costCenter" name="costCenter" />
				<span class="help-block">{{errors.costCenter}}</span>
			</div>
		</div>
		<div class="form-group form-buttons">
			<div class="col-lg-offset-2 col-lg-10">
				<button class="btn btn-default" ng-click="reset()">Cancel</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</div>
	</form>	
</div>
