<div class="container">
	<h2 ng-init="initList()">Aufträge</h2>
	<p>Die folgende Tabelle gibt eines Übersicht über alle aktuell definierten Aufträge.</p>
	<table class="table table-bordered table-striped" ng-grid>
		<legend></legend>
	    <tr ng-repeat="order in orders">
	      	<td ng-grid-title="Order Nummer"><a href="#/manage/orders/{{order.id}}">{{order.name}}</a></td>
			<td ng-grid-title="Werksauftragsnummer">{{order.cpu}}</td>
			<td ng-grid-title="Auftragssteller">{{order.memory}}</td>
			<td ng-grid-title="Projektname">{{order.disk}}</td>
			<td ng-grid-title="Projektleiter">{{order.disk}}</td>
			<td ng-grid-title="Options" ng-grid-name="options">
				<button class="btn btn-danger" ng-click="delete(order)">
					<i class="glyphicon glyphicon-trash icon-white"></i>
				</button>
			</td>
	    </tr>		  
	</table>
</div>
