<div flex ng-show="loading" layout="center center" layout-align="space-around">
	<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-hide="loading" layout="column" ng-controller="editUserController as ctrl">

	<div>
  <span class="md-title">Edit user {{ctrl.user.entity.username}} in {{orgName}}</span>

  <div layout="row" layout-wrap>

		<!-- ORGANIZATION ROLES -->
    <md-card id="usersOrgRoles" flex="100" flex-gt-md="45" flex-gt-lg="25">

      <md-toolbar style="background-color:#D0711D !important;">
        <div class="md-toolbar-tools">Organization Roles</div>
      </md-toolbar>

	  	<md-content class="md-padding" layout="column">

				<md-switch class="md-primary md-block" aria-label="Switch Org Manager" ng-model="ctrl.user.isOrgManager" ng-change="switchOrgManager()">
					Manager
				</md-switch>

				<md-switch class="md-primary md-block" aria-label="Switch Org Billing Manager" ng-model="ctrl.user.isOrgBillingManager" ng-change="switchOrgBillingManager()">
					Billing Manager
				</md-switch>

				<md-switch class="md-primary md-block" aria-label="Switch Org Auditor" ng-model="ctrl.user.isOrgAuditor" ng-change="switchOrgAuditor()">
					Auditor
				</md-switch>

	  	</md-content>

		</md-card>
		<!-- ORGANIZATION ROLES / END -->



		<!-- SPACES ROLES -->
    <md-card id="usersSpaceRoles" flex="100" flex-gt-md="45" flex-gt-lg="70">

      <md-toolbar>
        <div class="md-toolbar-tools">Spaces Roles</div>
      </md-toolbar>

	  	<md-content class="md-padding" layout="column">

				<md-grid-list md-cols-gt-sm="1" md-cols-gt-lg="3" md-row-height="170px" md-gutter="" md-gutter-gt-sm="">

					<md-grid-tile ng-repeat="space in ctrl.user.spaces" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="">

						<md-content style="width:100%;height:100%;">
							<span class="md-title">{{space.entity.name}}</span>

							<md-switch class="md-primary md-block" aria-label="Switch Space Manager" ng-model="space.userIsManager" ng-change="">
								Manager
							</md-switch>

							<md-switch class="md-primary md-block" aria-label="Switch Space Developer" ng-model="space.userIsDeveloper" ng-change="">
								Developer
							</md-switch>

							<md-switch class="md-primary md-block" aria-label="Switch Space Auditor" ng-model="space.userIsAuditor" ng-change="">
								Auditor
							</md-switch>
						</md-content>

    			</md-grid-tile>

				</md-grid-list>

	  	</md-content>

		</md-card>
		<!-- SPACES ROLES / END -->







    <!-- MANAGED CONTENT
    <md-card id="managedContent" flex="100" flex-gt-md="45">

      <md-toolbar>
        <div class="md-toolbar-tools">Managed Content</div>
      </md-toolbar>

      <md-content id="managedOrgs" class="md-padding autocomplete" layout="column">
        <h4>Managed Organizations:</h4>
        <md-chips ng-model="state.params.user.managedOrgs" md-state-params-user-managedOrgs="queryManagedOrgs($query)" md-require-match="true" filter-selected="filterManOrgs" placeholder="Add Managed Organization">
          <md-chip-template>
            <span>
              <strong>{{$chip.entity.name}}</strong>
            </span>
          </md-chip-template>

					<div>
						<span ng-repeat="org in organizations"><span>{{org.entity.name}} </span></span>
					</div>

        </md-chips>

				<div>
					<span ng-repeat="org in organizations"><span>{{org.entity.name}} </span></span>
				</div>

      </md-content>

      <md-content id="managedSpaces" class="md-padding autocomplete" layout="column">
        <h4>Managed Spaces:</h4>
        <md-chips ng-model="state.params.user.managedSpaces" md-orgs="queryManagedSpaces($query)" md-require-match="true" filter-selected="filterManSpaces" placeholder="Add Managed Spaces">
          <md-chip-template>
            <span>
              <strong>{{$chip.entity.name}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </md-content>

    </md-card>
    MANAGED CONTENT / END -->


    <!-- ASSOCIATED CONTENT
    <md-card id="associatedContent" flex="100" flex-gt-md="45">

      <md-toolbar style="background-color:#D0711D !important;">
        <div class="md-toolbar-tools">Associated Content</div>
      </md-toolbar>

      <md-content id="managedOrgs" class="md-padding autocomplete" layout="column">
        <h4>Associated Organizations:</h4>
        <md-chips ng-model="state.params.user.managedOrgs" md-orgs="queryAssocOrgs($query)" md-require-match="true" filter-selected="filterAssocOrgs" placeholder="Add Managed Organization">
          <md-chip-template>
            <span>
              <strong>{{$chip.entity.name}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </md-content>

      <md-content id="managedSpaces" class="md-padding autocomplete" layout="column">
        <h4>Associated Spaces:</h4>
        <md-chips ng-model="state.params.user.managedSpaces" md-orgs="queryManagedSpaces($query)" md-require-match="true" filter-selected="filterAssocSpaces" placeholder="Add Managed Spaces">
          <md-chip-template>
            <span>
              <strong>{{$chip.entity.name}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
      </md-content>

    </md-card>
    ASSOCIATED CONTENT / END -->


  </div>


</div>
