<div layout="column" ng-init="init()">

	<md-list id="orgUserList">
		<div layout="row" layout-align="start center">
	    <span class="md-title">Users of {{menu.organization.entity.name}}</span>
			<md-button type="button" aria-label="Show Create User Dialog" class="md-icon-button md-primary" style="text-align:center;">
				<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg" ng-click="showCreateUserDialog()"></md-icon>
			</md-button>

			<md-switch class="no-focus" ng-model="editMode" aria-label="Toggle edit" style="margin-left:0;">editable</md-switch>
		</div>

		<hr class="style-six" />

    <md-list-item id="item-{{$index}}" class="md-3-line" ng-repeat="user in orgUsers" style="">
      <div class="md-list-item-text" layout="column">
				<div layout="row">

					<div flex ng-show="editMode" layout="row" layout-align="start center" style="max-width:120px;margin-top:-12px;">
						<div flex style="max-width:50px;">
							<button class="md-button md-icon-button md-primary" type="button" aria-label="Edit User" style="text-align:center;" ng-click="switchToEditUser(user)">
								<md-icon class="no-focus" md-svg-icon="assets/svg/ic_edit_48px.svg"></md-icon>
							</button>
						</div>

						<div flex style="max-width:50px;">
							<button class="md-button md-icon-button md-warn" type="button" aria-label="Delete User" style="text-align:center;" ng-click="showConfirm($event, user)">
								<md-icon class="no-focus" md-svg-icon="assets/svg/ic_delete_48px.svg"></md-icon>
							</button>
						</div>
					</div>

					<div flex style="margin-left:10px;">
        		<h3>{{ user.entity.username }}</h3>
						<p><span>Spaces: </span>{{ user.entity.spaces.length }}</p>
					</div>

					<div flex hide-sm hide-md>
						<p ng-show="user.isOrgManager">Manager</p>
					</div>

				</div>
      </div>
			<md-divider></md-divider>

    </md-list-item>
	</md-list>

</div>
