<div class="container">
	<h2 ng-init="initList()">Reporting</h2>
	<p>The list below contains all T-Shirt sizes currently configured in the system</p>
	<table class="table table-bordered table-striped" ng-grid>
		<legend></legend>
	    <tr ng-repeat="tshirtsize in tshirtsizes">
	      	<td ng-grid-title="Name"><a href="#/manage/tshirtsize/{{tshirtsize.id}}">{{tshirtsize.name}}</a></td>
			<td ng-grid-title="CPUs (#)">{{tshirtsize.cpu}}</td>
			<td ng-grid-title="RAM (MB)">{{tshirtsize.memory}}</td>
			<td ng-grid-title="Disk (GB)">{{tshirtsize.disk}}</td>
			<td ng-grid-title="Options" ng-grid-name="options">
				<button class="btn btn-danger" ng-click="delete(user)">
					<i class="glyphicon glyphicon-trash icon-white"></i>
				</button>
			</td>
	    </tr>		  
	</table>
</div>
