<md-dialog aria-label="Create Service Instance">

    <md-toolbar>

      <div class="md-toolbar-tools" layout="column">
        <h2>Create Instance: {{service.entity.label}}</h2>
      </div>

    </md-toolbar>


    <md-dialog-content style="max-width:400px!important;min-width:300px;min-height:300px;max-width:800px;max-height:810px;">
      <div style="padding:10px 20px;">

        <div layout="column" layout-align="left center" style="height: 100px;">

          <form name="createServiceInstanceForm" ng-submit="submitCreateServiceInstanceForm(createServiceInstanceForm)">

            <div class="form-group">

              <md-select ng-required="true" placeholder="Choose space" ng-model="createServiceInstanceForm.spaceId" md-on-open="getSpaces()" style="min-width: 200px;">
                <md-option ng-value="space.metadata.guid" ng-repeat="space in spaces">{{space.entity.name}}</md-option>
              </md-select>

              <md-input-container>
                <label>Instance name</label>
                <input type="text" ng-model="createServiceInstanceForm.instanceName" ng-required="true" minlength="5">
              </md-input-container>

            </div>

            <div class="md-actions" layout="row">
              <md-button type="button" ng-click="cancel()" style="margin-right:20px;" >
                Cancel
              </md-button>
              <md-button type="submit" style="margin-right:20px;" >
                Create
              </md-button>
            </div>



          </form>

        </div>

      </div>

    </md-dialog-content>




</md-dialog>
