html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#masonry-container {
    max-width: 1600px;
}

.decent-line {
  border-bottom:1px solid #c9c9c9;
  margin-bottom:3px;
}

.no-focus:focus {
    outline: none;
}

.orange-bg {
  background-color: #D0711D !important;
}
md-switch.orange.md-checked .md-bar {
  background-color: #ed8a34 !important;
}
md-switch.orange.md-checked .md-thumb {
  background-color: #D0711D !important;
}

.hv-button i {
  opacity: 0.3;
}
.hv-button:hover i {
  opacity: 1;
}

md-grid-tile {
  cursor: pointer;
}
md-grid-tile.no-link {
  cursor: default;
}

md-grid-tile-footer.center {
  text-align: center;
}
md-grid-tile-footer.center figcaption {
  width: 100%;
}
md-grid-tile-footer.center figcaption h3 {
  margin: 0;
}

md-dialog-content.less-vmargins h4 {
  margin-bottom: 0;
}
md-dialog-content.less-vmargins p {
  margin-top: 5px;
}

md-dialog-content {
  padding: 24px;
}

.input-toggle-edit {
  text-align:right;
  color:rgba(0,0,0,0.54);
  border:none;
  font-weight:500;
}

.item {
  position:relative;
  float:left;
}

md-select.no-bg md-select-value.md-select-value {
  background: none;
}







/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}
md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}
md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}
#content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
}
#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}
#content md-icon.avatar {
  margin-top: 10px;
}
#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}
md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}
#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}
#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}
md-toolbar img.logo {
  width: 40%;
  margin: auto;
  display: block;
}
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
  padding-left: 19px;
  padding-top: 17px;
  fill: white;
  background-color: #467fd3;
}
.md-fab-detail ng-md-icon {
  margin-left: -17px;
  margin-top: -19px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.md-fab-list ng-md-icon {
  margin-left: 6px;
  margin-top: -10px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-index-create ng-md-icon {
  margin-left: -19px;
  margin-top: -15px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-index-logout ng-md-icon {
  margin-left: -5px;
  margin-top: -15px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-user ng-md-icon {
  margin-left: 6px;
  margin-top: -14px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab.md-tertiary {
  background-color: #467fd3;
}
.md-button.detail {
  width: 70px;
  height: 70px;
  margin: 15px 15px 15px 15px;
}
.md-button.edit {
  width: 70px;
  height: 70px;
  margin: 15px 15px 15px 15px;
  transform: rotate(180deg);
}
md-bottom-sheet md-icon {
  margin-right: 20px;
}
md-list-item.md-past-true {
  color: rgba(166, 166, 166, 0.54);
}
.Tab {
  font-size: 17px;
}
.number {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.Att {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

.floating-add {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

md-grid-list md-grid-tile md-grid-tile-header h3, md-grid-list md-grid-tile md-grid-tile-footer h3 {
  font-size: 16px; }

/**********SINGLE SPACE VIEW ***********/
/**/

#single-space img {
  height:50px;
  max-height: 80%;
  padding:30px;
  width: auto;
  margin-left:auto;
  margin-right:auto;
}

.single-space-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BBB;
    margin: -10px;
}
