<div layout="row" layout-align="center center">
  <md-card flex="100" flex-gt-md="70" flex-gt-lg="50" ng-hide="hideForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Register a new Account</span>
        </h2>
      </div>
    </md-toolbar>
    <div layout="row" flex class="md-padding" ng-init="organizationValid = false">
      <form>
        <div layout="column">
          <md-input-container flex>
            <label>Organization</label>
            <input ng-model="registerForm.orgName" ng-required="true" ng-change="checkOrgName(registerForm.orgName)" minlength="3">
          </md-input-container>
          <p ng-show="!organizationValid && (registerForm.orgName.length)" style="color:red;">Name already exists</p>
        </div>
      </form>
    </div>
    <md-content class="md-padding">
      <form name="userForm" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required" ng-submit="register(registerForm)" ng-show="organizationValid && registerForm.orgName.length">
        <div layout="column">
          <md-input-container>
            <label>Email</label>
            <input ng-model="registerForm.username" type="email" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Firstname</label>
            <input ng-model="registerForm.firstname" minlength="3" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Lastname</label>
            <input ng-model="registerForm.lastname" minlength="3" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="registerForm.password" minlength="5" ng-required="true">
          </md-input-container>
        </div>

        <div layout="row" layout-align="end end" layout-align-sm="center center">
          <md-button class="md-fab detail md-primary md-fab-detail" aria-label="register" type="submit">
            <ng-md-icon icon="add" size="40" style="fill:white"></ng-md-icon>
            <md-tooltip>
              Register
            </md-tooltip>
          </md-button>
        </div>
      </form>
      <div layout="row" layout-align-sm="center center">
        <md-button ui-sref="login" class="md-primary">Already have an Account? Login!</md-button>
      </div>
    </md-content>
</div>
</div>
